@import url('./global.css');

header {
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--neutral-white);
    z-index: 9;
    position: relative;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li:not(:last-child) {
    margin-right: 20px;
}

header ul li a {
    padding: 5px 15px;
    color: var(--neutral-grayish-blue);
    font-size: 1.2rem;
}

header ul li a:hover {
    color: var(--primary-dark-blue);
    position: relative;
}

header ul li a:hover:before {
    content: '';
    width: calc(100% - 15px);
    height: 5px;
    display: inline-block;
    position: absolute;
    bottom: -20px;
    background: linear-gradient(
        90deg,
        rgba(49, 211, 92, 1) 8%,
        rgba(43, 183, 218, 1) 100%
    );
}

.navbar-nav {
    margin: 0 auto;
}

/* Hero Section */
.hero {
    background-color: var(--neutral-very-light-gray);
    background-image: url('../assets/images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position: 850px;
    height: 64vh;
    position: relative;
}

.absolut-image {
    position: absolute;
    top: -130px;
    right: -130px;
}
